<div style="margin-top:100px;margin-left:50px;">
  <div class="row">
  <div class="col-3 ">
    <div class="card " style="height:350px;" >
      <div class="card-header ">
        <h5 class="font-weight-bold mb-3">Donor</h5>
      </div>
      <ul class="list-group list-group-flush-font-weight-bold mb-3 "><h4><b>
        <li class="list-group-item"><a href='/donor/profile'>Profile</a></li>
        <li class="list-group-item"><a  href='/donor/donateorgan'>Donate an Organ</a></li>
        <li class="list-group-item"><a href='/donor/checkup'>Appointment for CheckUp</a></li>
    </b> </h4>
      </ul>
    </div>
  </div>