extends ../base


block content
  div(style='margin-left:30%;margin-right: 30%; margin-top: 10%; margin-bottom:50px;')
    // Default form register
    .text-center.border.border-light.p-5
      form(action="/signedup" method="post")
        p.h4.mb-4 Sign up
        .form-row.mb-4
          .col
            // First name
            input#fname.form-control(type='text' placeholder='First name' name='firstName')
            small#ffname(style='color: red')
          .col
            // Last name
            input#lname.form-control(type='text' placeholder='Last name' name='lastName')
            small#llname(style='color: red')
        // E-mail
        input#email.form-control.mb-4(type='email' placeholder='E-mail' name='emailId')
        small#eemail(style='color: red')
        // Password
        input#password.form-control(type='password' placeholder='Password' aria-describedby='defaultRegisterFormPasswordHelpBlock' name='password')
        small#ppassword(style='color: red')
        br
        input#cpassword.form-control(type='password' placeholder=' Confrim Password' aria-describedby='defaultRegisterFormPasswordHelpBlock' name='confirmpassword')
        small#ccpassword(style='color: red')
        br
        //input#age.form-control.mb-4(type='number' placeholder='Age' name='age')
        small#aage(style='color: red')
        label(style='font-size: 20px;')
          strong Gender
        br
        input#gender(type='radio' style='font-size: 18px;' value='MALE' name='gender')
        |  Male
        br
        input#gender(type='radio' style='font-size: 18px;' value='FEMALE' name='gender')
        |  Female
        br
        small#ggender(style='color: red')
        br
        br
        input#address.form-control.mb-4(type='text' placeholder='Address' name='address')
        small#aadress(style='color: red')
        input#contact.form-control.mb-4(type='text' placeholder='Contact No' name='contactNo')
        small#ccontact(style='color: red')
        // Sign up button
        button#signup.btn.btn-info.my-4.btn-block(type="submit" onclick="validate()") Sign up
        hr
        // Terms of service
        p
          | By clicking
          em Sign up
          |  you agree to our
          a(href='' target='_blank') terms of service
      // Default form register

